html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  background-image: url(/img/CAT.jpeg);
  background-repeat: repeat;
}

.cabecalho {
  background-color: #cbd9e8;
  height: 100px;
  width: 100%;
}

.img-head {
  height: 70px;
  width: 70px;
  margin-left: 200px;
  margin-top: 20px;
}

.link-head {
  font-size: 40px;
  color: black;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 24px ;
  position: absolute;
  text-decoration: none !important;
}
.link-head:hover{
  color: #e75d6f;
}

.selectPet {
  float: right;
  margin-right: 140px;
  margin-top: -54px;
  background-color: #fff;
  border: 2px solid #95a5c4;
}

.selectPet:hover {
  border: 2px solid #e75d6f;
}
