.nomeInput {
  padding-top: 20px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: darkslateblue;
}
.teste {
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: black;
  font-weight: 700;
}
.linkRecuperarSenha {
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: black;
  font-weight: 700;
  margin-left: 130px;
}
.login {
  background-color: #dbedfb;
  width: 400px !important;
}
.centralize {
  padding-top: 15%;
  justify-content: center;
}
.classBtn {
  text-align: center;
}
.btn {
  margin-top: 6%;
  margin-bottom: 4%;
  font-weight: 600;
  border: 2px solid #95a5c4;
  background-color: #fff;
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.btn:hover {
  border: 2px solid #e75d6f;
  background-color: #fff;
  color: black;
}
.form-label {
  font-weight: bold;
}

.red {
  background-color: #faa5a5;
  color: #495057;
}

.red:hover,
.red:focus {
  color: #fff;
  background-color: #faa5a5;
  border-color: #f88e8e;
  outline: 0;
  -shadow: 0 0 0 0.2rem #f75d5d;
}

@media only screen and (min-width: 1024px) {
  .centralize {
    padding-top: 10px;
  }
}
