.titulo {
  margin-top: 20px;
  text-align: center;
}

.construtor .board {
  top: 20px;
  border: 3px solid #cbd9e8;
  padding-top: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff;
  margin-left: 180px;
  margin-bottom: 90px;
  min-height: 200px;
  width: 400px;
}

.construtor .board .dot {
  height: 8px;
  width: 8px;
  background-color: #95a5c4;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
}

.pFacts {
  margin: 40px;
}

.btn {
  text-align: center;
  font-weight: 600;
  border: 2px solid #95a5c4;
  background-color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 40px;
  color: #95a5c4;
}

.btn:hover {
  border: 2px solid #e75d6f;
  color: #e75d6f;
}

#numberFacts input {
  width: 200px;
}

#numberFacts {
  float: left;
  margin: 10px 70%;
}

.refreshF {
  /* margin-left: 150px; */
  margin-right: 0;
}
.btnModal {
  margin-left: 10px;
}
.btnsFacts {
  margin-bottom: 30px;
}
.button {
  background-color: #fff;
  color: #95a5c4;
  margin-right: -266px;
  float: right;
  height: 39px;
  margin-right: 200px;
  margin-top: -38px;
}
.selectPet {
  float: right;
  margin-top: 26px;
  background-color: #fff;
  border: 2px solid #95a5c4;
}

.selectPet:hover,
.button:hover {
  border: 2px solid #e75d6f;
  background-color: #fff;
  color: #e75d6f;
}

.modal-footer {
  height: 80px;
}
.red {
  background-color: #faa5a5;
  color: #495057;
}

.red:hover,
.red:focus {
  color: #fff;
  background-color: #faa5a5;
  border-color: #f88e8e;
  outline: 0;
  -shadow: 0 0 0 0.2rem #f75d5d;
}
