html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  background-image: url(/img/CAT.jpeg);
  background-repeat: repeat;
}

.cabecalho {
  background-color: #cbd9e8;
  height: 70px;
  width: 100%;
}

.img-head {
  height: 60px;
  width: 70px;
  margin-left: 70px;
  margin-top: 8px;
}

.link-head {
  font-size: 40px;
  color: black;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 18px;
  position: absolute;
  text-decoration: none !important;
}
.link-head:hover {
  color: #e75d6f;
}
