<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/recupera.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>RecuperarSenha - Fatos sobre Gatos</title>
</head>

<body>
  <header class=" cabecalho">
    <div class="container">
      <div class="row">
        <div class="col link-home ">
          <a href="index.html"><img class="img-head" src="../img/icons8-extremidade-de-gato-80.png" /></a>
          <a href="index.html" class="link-head">PetsFacts</a>
        </div>
      </div>
  </header>

  <div class="container">
    <div class="constructor row centralize">
      <div class="board">
        <div class="card login" style="width: 18rem">
          <div class="card-body">
            <label for="exampleFormControlInput1" class="form-label nomeInput">Nova senha:</label>
            <input type="password" class="form-control" id="senhaNova" placeholder="********" />
            <label for="exampleFormControlInput1" class="form-label nomeInput">Confirmar nova senha:</label>
            <input type="password" class="form-control" id="novaSenhaConfirma" placeholder="********" />
            <div class="classBtn">
              <a type="button" class="btn" href="index.html">Continuar</a>
            </div>
            <a class="voltar" href="index.html">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>