<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/cadastro.css" />
    <script type="text/javascript" src="scripts/validator.js"></script>
    <script type="text/javascript" src="scripts/user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Cadastro - Fatos sobre Gatos</title>
  </head>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/cadastro.css" />
  <script type="text/javascript" src="scripts/script.js"></script>
  <script type="text/javascript" src="scripts/cadastro.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Cadastro - Fatos sobre Gatos</title>
</head>

<body>
  <header class="cabecalho">
    <div class="link-home">
      <a href="/"><img class="img-head" src="/img/icons8-extremidade-de-gato-80.png" />
      </a>
      <a href="/" class="link-head">PetsFacts</a>
    </div>
  </header>

  <div class="container">
    <div class="constructor row centralize">
      <div class="board">
        <div class="card login" style="width: 18rem">
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <div class="form-row">
                <label id="nameL" for="nameL" class="form-label nomeInput">Nome: *</label>
                <input type="text" class="form-control" id="name" placeholder="Ex: Maria Lima"
                  onkeydown="returnOriginal(this)" required />
                <div class="invalid-feedback">
                  Este campo não pode estar vazio.
                </div>
                <label id="email" for="email" class="form-label nomeInput">Endereço de Email: *</label>
                <input type="email" class="form-control" id="name" placeholder="nome@exemplo.com"
                  onkeydown="returnOriginal(this)" required />
                <div class="invalid-feedback">
                  Por favor verifique se o campo está vazio ou o e-mail é
                  valido.
                </div>
                <label id="password" for="password" class="form-label nomeInput">Senha: *</label>
                <input type="password" class="form-control" id="password" placeholder="******"
                  onkeydown="returnOriginal(this)" required />
                <div class="invalid-feedback">
                  Este campo não pode estar vazio.
                </div>
                <label id="passwordConfirm" for="passwordConfirm" class="form-label nomeInput">Confirmação de Senha:
                  *</label>
                <input type="password" class="form-control" id="passwordConfirm" placeholder="******"
                  onkeydown="returnOriginal(this)" required />
                <div class="invalid-feedback">
                  Este campo não pode estar vazio.
                </div>
              </div>
              <div class="classBtn">
                <button type="submit" class="btn btn-primary" onclick="register()">
                  Cadastrar-se
                </button>
              </div>
              <a class="teste" href="/login">Voltar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          var forms = document.getElementsByClassName("needs-validation");
          var validation = Array.prototype.filter.call(
            forms,
            function (form) {
              form.addEventListener(
                "submit",
                function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            }
          );
        },
        false
      );
    })();
  </script>
</body>

</html>