<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/login.css" />
  <script type="text/javascript" src="../scripts/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Login - Fatos sobre Gatos</title>
</head>

<body>
  <header class=" cabecalho">
    <div class="container">
      <div class="row">
        <div class="col link-home ">
          <a href="/"><img class="img-head" src="/img/icons8-extremidade-de-gato-80.png" /></a>
          <a href="/" class="link-head">PetsFacts</a>
        </div>
      </div>
  </header>

  <div class="container">
    <div class="constructor row centralize">
      <div class="board">
        <div class="card login" style="width: 18rem">
          <div class="card-body">
            <form>
              <label id="email" for="email" class="form-label nomeInput">Endereço de Email: *</label>
              <input type="email" class="form-control" id="name" placeholder="nome@exemplo.com" required />
              <div class="invalid-feedback">
                Por favor verifique se o e-mail é valido.
              </div>
              <label id="password" for="password" class="form-label nomeInput">Senha: *</label>
              <input type="password" class="form-control" id="password" placeholder="******" />
              <div class="invalid-feedback">
                Este campo não pode estar vazio.
              </div>
              <div class="classBtn">
                <button type="submit" class="btn btn-primary" onclick="logar(document.getElementById('email').value)">
                  Entrar
                </button>
              </div>
            </form>
            <a class="linkCadastro" href="cadastro">Cadastrar-se</a>
            <a class="linkRecuperarSenha" href="RecuperaSenha">Recuperar senha</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>